body {
  padding-top: 50px;
}
.main-content {
  padding: 40px 15px;
}

.photo {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 40px 0;
}

.spinner p {
  margin-top: 20px;
}

.navbar-inverse {
  background-color: #16C1FA;
  border-color: #16C1D2;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.btn-primary {
  background-color: #16C1FA;
  border-color: #16C1D2;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.5);
}

/*
 * Datepicker element
 */

.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}