<div class="col-lg-6">
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>Contact me</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Name</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Textarea</label>

                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="textArea"></textarea>
                        <!--<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label"></label>

                    <div class="col-lg-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                Cool theme, go on!
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                You should stop doing that!
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit"
                                class="btn btn-primary"
                                ladda="isSending">
                            Sent
                        </button>
                    </div>
                </div>

            </fieldset>
        </form>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
    </div>
</div>

<div class="col-lg-6">

    <legend>Contacts</legend>

    <fieldset>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Telephone</label>

            <div class="col-lg-10">
                +38 093 26 76 494
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                bogdan.lebedenko@gmail.com
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Skype</label>
            <div class="col-lg-10">
                bogdan.lebedenko
            </div>
        </div>
    </fieldset>
</div>