<div class="col-lg-6">
    <div class="well bs-component">
        <form class="form-horizontal"
                name="userForm">
            <fieldset>
                <legend>Contact me</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Name</label>

                    <div class="col-lg-10">
                        <input type="text" ng-model="name" class="form-control" id="inputName" placeholder="Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>

                    <div class="col-lg-10">
                        <input type="text" ng-model="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Textarea</label>

                    <div class="col-lg-10">
                        <textarea ng-model='message' class="form-control" rows="3" id="textArea"></textarea>
                        <!--<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label"></label>

                    <div class="col-lg-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                Cool theme, go on!
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                You should stop doing that!
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit"
                                class="btn btn-primary"
                                ladda="isSending"
                                ng-click="formsubmit(userForm.$valid)"
                                ng-disabled="userForm.$invalid">
                            Sent
                        </button>
                    </div>
                </div>

                <!--<pre ng-model="result">-->
                    <!--{{result}}-->
                <!--</pre>-->

            </fieldset>
        </form>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
    </div>
</div>

<div class="col-lg-6">

    <legend>Contacts</legend>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputEmail"
                       class="col-lg-2
                       control-label">Telephone</label>
                <div class="col-lg-10" ng-bind="contacts.phone"></div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputEmail"
                       class="col-lg-2
                       control-label">Email</label>
                <div class="col-lg-10" ng-bind="contacts.email"></div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputEmail"
                       class="col-lg-2
                       control-label">Skype</label>
                <div class="col-lg-10" ng-bind="contacts.skype"></div>
            </div>
        </div>
    </div>
</div>