<div class="col-md-12">

    <form class="form-inline well well-sm">
        <span class="fa fa-search"></span>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   id="name"
                   ng-model="search"
                   placeholder="Search..."
            />
        </div>

        <span class="fa fa-sort-amount-asc"></span>

        <div class="form-group">
            <select class="form-control"
                    ng-model="order">
                <option value="name">Name (ASC)</option>
                <option value="-name">Name (DEC)</option>
                <option value="email">Email (ASC)</option>
                <option value="-email">Email (DEC)</option>
                <option value="address">Address (ASC)</option>
                <option value="-address">Address (DEC)</option>
            </select>
        </div>

        <button class="btn btn-primary pull-right" ng-click="showCreateModal()">Create</button>

    </form>

    <div class="row">
        <div class="col-md-12">

            <table class="table-bordered table"
                   infinite-scroll="loadMore()"
                   infinite-scroll-distance="1">
                <tr>
                    <th class="col-1">#</th>
                    <th>Name
                        <div class="sortables">
                            <span ng-click="order = 'name'" class="fa fa-sort-desc"></span>
                            <span ng-click="order = '-name'" class="fa fa-sort-asc"></span>
                        </div>
                    </th>
                    <th class="col-2">Email
                        <div class="sortables">
                            <span ng-click="order = 'email'" class="fa fa-sort-desc"></span>
                            <span ng-click="order = '-email'" class="fa fa-sort-asc"></span>
                        </div>
                    </th>

                    <th class="col-3">Phone number
                        <div class="sortables">
                            <span ng-click="order = 'address'" class="fa fa-sort-desc"></span>
                            <span ng-click="order = '-address'" class="fa fa-sort-asc"></span>
                        </div>
                    </th>
                </tr>

                <tr ng-repeat="person in contacts.persons"
                    ng-style="{
						'background-color' : person.email == contacts.selectedPerson.email ? 'lightgray' : '',
						'cursor' : 'pointer'
                        }"
                    ui-sref="details({email:person.email})">
                    <td>{{ $index+1 }}</td>
                    <td>
                        <img ng-src="{{person.photo | defaultImage:'img/noimage.png'}}"
                             class="img-circle photo">
                        {{person.name}}
                    </td>
                    <td>{{person.email}}</td>

                    <td>{{person.phonenumber}}</td>
                </tr>

            </table>

            <div ng-show="contacts.persons.length == 0 && !contacts.isLoading">
                <div class="alert alert-info">
                    <p class="text-center">
                        No results found for search term '{{ search }}'
                    </p>
                </div>
            </div>

            <div class="spinner"
                 ng-show="contacts.isLoading">
                <span us-spinner="{radius:6, width:2, length: 8}"></span>

                <p>Loading...</p>
            </div>

        </div>
    </div>
</div>